{{- if .Values.oauth2Proxy.enabled }}
apiVersion: v1
kind: Service
metadata:
  name: {{ include "invulnerable.fullname" . }}-oauth2-proxy
  labels:
    {{- include "invulnerable.labels" . | nindent 4 }}
    app.kubernetes.io/component: oauth2-proxy
spec:
  type: ClusterIP
  ports:
  - name: http
    port: 4180
    targetPort: http
    protocol: TCP
  - name: metrics
    port: 44180
    targetPort: metrics
    protocol: TCP
  selector:
    {{- include "invulnerable.selectorLabels" . | nindent 4 }}
    app.kubernetes.io/component: oauth2-proxy
{{- end }}
